@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: green;
} */
.files-section ul li {
  display: flex;
  justify-content: start;
  gap: 15px;
  margin: 9px 0;
  align-items: center;
  font-size: 15px;
}

.calc-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79.1px;
  width: 96px;
  color: white;
  border: 1px solid #4B4C4E;
}

.calc-button:active{
  transform: scale(.97);
}